# --- Dependencies ---
node_modules/
.pnpm-debug.log

# --- env files ---
.env
.env.local
.env.*.local

# Build Outputs
dist/
build/
.next/
out/
.expo/
.vscode
web-build/

# --- TS and Cache ---
*.tsbuildinfo
.eslintcache
.turbo

# --- OS Files ---
.DS_Store
Thumbs.db

# --- React Native and Expo ---
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
/apps/mobile/android/
/apps/mobile/ios/

# --- Database file ---
*.db
*.db-journal
pgdata/